<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">@Html.ActionLink("Práctica Minions 4", "Index", "Vuelos", new { area = "" }, new { @class = "navbar-brand" })</a>
        <a class="navbar-brand" href="/Vuelos/Destinos">Destinos</a>
        <a class="navbar-brand" href="/Vuelos/Vuelos">Vuelos</a>
        <a class="navbar-brand" href="/Vuelos/Reservas">Reservas</a>
        <a class="navbar-brand" href="/Evaluaciones/Evaluaciones">Evaluaciones</a>
        <a class="navbar-brand" href="/Evaluaciones/Calificaciones">Calificaciones</a>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Práctica minions 4</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
